main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

img.logo {
  height: 250px;
  width: 250px;
}

img.logo.rails {
  height: 200px;
  width: 200px;
  margin-top: 25px;
  margin-left: 30px;
  vertical-align: top;
}